#display {
  width: 400px;
  height: 150px;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
}

#selection {
  width: 400px;
  height: 50px;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
}

#controls {
  width: 400px;
  height: 30px;
  margin:auto;
  text-align: center;
  box-sizing: border-box;
}

.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}
