body {
  background-image: url(http://wallpaper-gallery.net/images/wallpaper-background/wallpaper-background-17.jpg);
}

h1 {
  color: DimGrey;
  font-family: 'Amatic SC';
  font-size: 35px;
}

button {
  font-family: 'Amatic SC';
  font-size: 20px;
  margin: 10px;
  border-radius: 8px;
}

input {
  font-family: 'Amatic SC';
  font-size: 30px;
}

#display {
  width: 400px;
  height: 220px;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
}

#selection {
  width: 400px;
  height: 60px;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
}

#controls {
  width: 400px;
  height: 30px;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
}

/*#name {
  width: 400px;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
}*/

.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}
