body {
  background-image: url(http://wallpaper-gallery.net/images/wallpaper-background/wallpaper-background-17.jpg);
  background-repeat: repeat-x;
  background-position: center top;
}

h1 {
  color: DimGrey;
  font-family: 'Amatic SC';
  font-size: 45px;
}

button {
  font-family: 'Amatic SC';
  font-size: 30px;
  margin: 10px;
  border-radius: 8px;
}

input {
  font-family: 'Amatic SC';
  font-size: 50px;
}

input.submit-button {
  font-family: 'Amatic SC';
  font-size: 50px;
}

#display {
  width: 400px;
  height: 300px;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
}

#selection {
  width: 400px;
  height: 130px;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
}

#temp-buttons {
  width: 400px;
  height: 75px;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
}

#power-save-buttons {
  width: 400px;
  height: 75px;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
}

#reset-button {
  width: 400px;
  height: 75px;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
}

#name {
  font-family: 'Amatic SC';
  font-size: 70px;
  width: 500px;
  height: 75px;
  padding: 30px;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
}

.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}
